/* base style for everything */
body {
  font-family: Georgia, Times, serif;
  font-size: 100%;
  line-height: 1.4em;
  background-color: #999999;
  /*background-color: black;*/
  text-decoration-color: white;
}



/* *************************************************************
 styles for MAIN element, but I'm not including MAIN here to make the
CSS simpler. We'll have selectors for HEADER and FOOTER elements later on
******************************************************************/
#page-toc {
  position: fixed;
  top: 150px;
  left: 80%;
  float: right;
  }

#page-nav li a {
  color: black;
  text-decoration: none;}

/* rest of page */
h1, h2, h3, legend {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-align: center;
  padding-top: 15px;
}
h1 {
  font-size: 175%;
}

#on-this-page {
  font-size: 125%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 112.5%;
}

p, figcaption, fieldset {
  text-align: center;
  margin: auto;
}

figcaption {
  margin-top: 50px;
  font-size: 80%;
  font-weight: bold;
}

p {
  margin-bottom: 50px;
  max-width: 50%;
}

fieldset {
  text-align: left;
  max-width: 250px;
  padding: 20px 30px;
  border: 2px solid #444;
  border-radius: 10px;
}

legend {
  padding: 2px;
  text-align: left;
}

.content {
  text-align: left;
  padding: 0px 50px;}

/* selectors for actual visualizations
 NOTE! #id is MORE specific than class, and
class is more specific than element name, so
#id will override .class */

/*******************************************************/
/****     MAP     **************************************/
/******************************************************/
path.region:not(.missing) {
  pointer-events: all;
}

/* targets all "region" class paths (in map) except those that are also class "missing" and changes settings on hover (because we want missing regions not to change)*/
path.region:not(.missing):hover {
  stroke-width: 3px;
}

.waterpoint {
  opacity: 0.3;
  stroke-width: 1px;
  stroke-opacity: 1;
}

/* try to use these classes for all dynamically created content that
needs to be color-coded for target values. */

/* set country-level path fill to white, behind region-level opacity */
#Tanzania {
  fill: white;
}

.functional {
  fill: rgb(145,191,219);   /* blue */
  stroke: rgb(145,191,219);
}
.functional-needs-repair {    /* yellow */
  fill: rgb(255,255,191);
  stroke: rgb(255,255,191);
}
.non-functional {     /* orange */
  fill: rgb(252,141,89);
  stroke: rgb(252,141,89);
}
.missing {
  fill: #999999;  /* to match background-color */
}




/*
#map-viz .non-functional {
  fill: rgb(252,141,89);
  animation: blink .75s linear infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
 */

/*******************************************************/
/****     BAR CHART     **************************************/
/******************************************************/
#barChart-viz .viz {
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
    font-weight: bold;
}

/* image selectors. will have to change to svg element or something
when we migrate to javascript */
img {
display: block;
margin: 0 auto;
border: 2px solid #000080;
}

img.no-border {
border: none;
}
img.large {
width: 50%;
height: 50%;
}

img.small {
width: 20%;
height: 20%;
}
/********************************************************************/
/*******   SCATTER PLOT *********************************************/
/********************************************************************/


.axis path, .axis line {

     fill: none;
     stroke: black;
     shape-rendering: crispEdges;
}

.axis text {
     font-family: sans-serif;
     font-size: 15px;
}

/********************************************************************/
/*******   Tableau Dashboard*****************************************/
/********************************************************************/

.tableauPlaceholder {
    margin: auto;
    width: 50%;
    height: 50%;
}


/*********************
styles for svg elements created with d3;
use #id or .class for more specific styles,
use this for universal element styles
*********************/
svg {
  display: block;
  margin:auto;
}


/* selectors for HEADER and FOOTER elements */
header h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding:50px;
  font-size: 250%;
  margin: 0%;
}

.nav {
  position: relative;
  bottom: auto;
}
.nav, footer {
  /* aside.toc will also have a nav,
  so making sure these are only in header */
  background-color: rgb(145,191,219);
  height: 30px;
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center;
  color: black;
}

.nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

.nav li {
 display: inline;
 margin-right: 40px;
}

.nav li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

footer {
  font-size: 75%
}
