body {
  font-family: Georgia, Times, serif;
  font-size: 100%;
  line-height: 1.4em;
  color: #00004d;
}


h1 {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f8f6;
  text-align: center;
  padding:50px;
  font-size: 250%;
  color:   #00004d;
  margin: 0%;
}


h2, h3 {
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 150%
}

h3 {
  font-size: 112.5%
}

p {
  text-indent: 1em;
  text-align: left;
}

h1~p {
  text-indent: 0;
}

footer {
  background-color: #000080;
  color: #f1f1f1;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 75%
}

nav {
  background-color:#000080;
  color: #f1f1f1;
  height: 30px;
}

nav ul {
  font-family: Helvetica, Verdana, sans-serif;
  margin: 0px;
  padding: 5px 0px 5px 30px;
  text-align: center;
}

nav li {
 display: inline;
 margin-right: 40px;
}

nav li a {
  color: #f1f1f1;
  text-decoration: none;
}  

img {
  display: block;
  margin: 0 auto;
  border: 2px solid #000080;
}

img.large {
  width: 50%;
  height: 50%;
}  

img.small {
  width: 20%;
  height: 20%;
}

div.kpi {
  text-align: center;
}

div.kpi p {
  margin-bottom: 50px;
  text-align: center;
}